.work::after {
    display: table;
    content: "";
  }
  .work .swiper-container {
  
    width: 100%;
    height: 530px;
    padding-top: 120px;

  }
  
  .work .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .work .swiper-slide img {
    display: block;
    width: 400px;
    height: 500px;
  }
  
.text{
    padding: 0px 200px;

}
 .text img{
     width: 200px;
     height: 100px;
 }


 .project_nav{
   cursor: pointer;
 }