.project_nav {
  display: flex;
  padding: 0px 200px;
}
.project_item {
  padding: 20px;
  font-size: x-large;
}
.imageZoom_title {
  padding: 0px 200px;
}
.image_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  justify-items: center;
  padding: 0px 200px;
  /* grid-row-gap: 20px; */
  row-gap: 20px;
  column-gap: 20px;
}

.image_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(132 70 171);
  box-shadow: 0 0 10px rgb(168, 160, 160);
}
.image_sizing {
  height: 200px;
  width: 400px;
}

.box_write {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .project_nav {
    font-size: 20px;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .project_item {
    font-size: 20px;
  }
  .image_items {
    padding: 0 20px;
  }
  .box_write {
    width: 400px;
  }
}
@media only screen and (max-width: 468px) {
  .box_write {
    width: 100%;
  }
}
